<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chercher recette
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes recettes Favories</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Un champ de saisie du titre de recette -->
  <div class="app-div-search-button" >
    <ion-input size="large" placeholder="Saisie titre" [(ngModel)]="searchRecipe" (ngModelChange)="handleSearchIntoRecipes()"></ion-input>

    <ion-button expand="block" color="light" (click)="handleSearchIntoRecipes()">
      <ion-icon slot="end" name="search-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-list>
    <ion-list-header>
      Recettes
    </ion-list-header>

    <ion-item *ngFor="let recette of recettesResultSearch">
      <ion-avatar slot="start">
        <img src="{{ recette.picture }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ recette.title }}</h2>
        <p>{{ recette.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
