<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recettes du jour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recettes</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Je parcours ma liste de recettes et je l'affiche comme card-->
  <div *ngFor="let recette of recettes">
    <ion-card>
      <ion-img src="{{ recette.picture }}"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ recette.title }}</ion-card-title>
      </ion-card-header>
    </ion-card>      
  </div>
<!-- <app-explore-container name="Recettes"></app-explore-container>-->
</ion-content>
